<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
  <a [routerLinkActive]="'text-danger'" class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'movie-list'"
          class="nav-link"
          href="#"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'about'"
          class="nav-link"
          href="#"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'faq'"
          class="nav-link"
          href="#"
          >FAQ</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          [routerLink]="['movie', '123']"
          [queryParams]="{ userId: 10, bookingId: 200 }"
          class="nav-link"
          href="#"
          >Movie</a
        >
      </li> -->
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          (click)="navigateToMovie()"
          class="nav-link"
          >Movie</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'movie-list'"
          class="nav-link"
          href="#"
          >Movie List</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'pipe'"
          class="nav-link"
          href="#"
          >Pipe</a
        >
      </li>
      <li class="nav-item">
        <a
          [routerLinkActive]="'text-danger'"
          [routerLink]="'life-cycle'"
          class="nav-link"
          href="#"
          >LifeCycle</a
        >
      </li>

      <ng-container *ngIf="!loginInfo; else tmpWelcome">
        <li class="nav-item">
          <a
            [routerLinkActive]="'text-danger'"
            [routerLink]="'register'"
            class="nav-link"
            href="#"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLinkActive]="'text-danger'"
            [routerLink]="'login'"
            class="nav-link"
            href="#"
            >Login</a
          >
        </li>
      </ng-container>

      <ng-template #tmpWelcome
        ><li class="nav-item">
          <p class="nav-link fw-bold">Hello {{ loginInfo?.hoTen }}</p>
        </li></ng-template
      >
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
