<nav class="navbar navbar-expand-sm navbar-light bg-light mb-5">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a [routerLink]="'movie-list'" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'about'" class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'faq'" class="nav-link" href="#">FAQ</a>
      </li>
      <!-- <li class="nav-item">
        <a
          [routerLink]="['movie', '123']"
          [queryParams]="{ userId: 10, bookingId: 200 }"
          class="nav-link"
          href="#"
          >Movie</a
        >
      </li> -->
      <li class="nav-item">
        <a (click)="navigateToMovie()" class="nav-link">Movie</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'movie-list'" class="nav-link" href="#">Movie List</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'register'" class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'login'" class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
