<c-pagination aria-label="Page navigation example">
  <li cPageItem>
    <a cPageLink aria-label="Previous" (click)="prePage()"
      ><span aria-hidden="true">&laquo;</span></a
    >
  </li>
  <li cPageItem *ngFor="let item of fakeArray; let i = index">
    <a
      [ngClass]="{ 'current-page': page === i + 1 }"
      cPageLink
      (click)="getUserList(i + 1)"
      >{{ i + 1 }}</a
    >
  </li>
  <!-- <li cPageItem>
    <a cPageLink (click)="getUserList(1)">1</a>
  </li>
  <li cPageItem>
    <a cPageLink (click)="getUserList(2)">2</a>
  </li>
  <li cPageItem>
    <a cPageLink (click)="getUserList(3)">3</a>
  </li> -->
  <li cPageItem>
    <a cPageLink aria-label="Next" (click)="nextPage()"
      ><span aria-hidden="true">&raquo;</span></a
    >
  </li>
</c-pagination>

<table cTable hover color="dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">User</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i = index" (click)="handleEdit(user)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ user.hoTen }}</td>
      <td>{{ user.taiKhoan }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.soDt }}</td>
    </tr>
  </tbody>
</table>

<app-user-modal
  [modalVisible]="visible"
  (changeEvent)="visible = $event"
  [user]="userDetail"
  (submitEdit)="editSubmit()"
  (toggleModal)="toggleModal()"
></app-user-modal>
