<!-- <p>Movie list</p> -->

<div class="w-75 mx-auto">
  <div class="row">
    <div
      *ngFor="let movie of movieList"
      class="col-4 mb-3"
      (click)="navigateToMovie(movie.maPhim)"
    >
      <div class="card">
        <img
          class="card-img-top"
          height="300"
          src="{{ movie.hinhAnh }}"
          alt="..."
        />
        <div class="card-body">
          <h4 class="card-title">{{ movie.tenPhim }}</h4>
          <p
            class="card-text"
            [innerText]="
              movie.moTa.length > 100
                ? movie.moTa.slice(0, 99) + '...'
                : movie.moTa
            "
          ></p>
        </div>
      </div>
    </div>
  </div>
</div>
